node_modules
**/node_modules
**/dist
**/build
**/.next
**/.expo
**/.expo-shared
**/coverage
pnpm-lock.yaml
package-lock.json
yarn.lock

.local
.cache
.pythonlibs
.config
.replit
.upm

artifacts/kivy-app

artifacts/mobile/.expo
artifacts/mobile-ba7r/.expo

lib/api-client-react/src/generated
lib/api-zod/src/generated
lib/integrations
lib/integrations-openai-ai-react
lib/integrations-openai-ai-server
lib/integrations-gemini-ai
